<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Register</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="uname1">Username</label>
              <input type="text" [(ngModel)]="registerUserData.email" name="email" class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" [(ngModel)]="registerUserData.password" name="password" class="form-control rounded-0"  required>
            </div>
            <!-- <button type="button" (click)="registerUser()" class="btn btn-primary float-right">Register</button> -->
            <button class="btn btn-primary float-right" type="button"> Register </button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>